body {
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  display: block;
}
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

img
{
    padding:10px;
    margin:10px;
    width:150px;
    height:150px;
}

.elementBox
{
    /* background-color: lightgreen; */
    text-shadow: 2px 2px 4px #00000040;
}

.searchBarContainer
{
    display: flex;
    flex-direction: column;
    background-color: #1b121636;
    justify-content: center;
    padding: 10px;

}

.searchBarContainer > div
{
    background-color:#1d121c3b;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}

.title
{
    display:flex;
    flex-direction: column;
    text-align:center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding:5px;
    margin:5px;
    /* margin-left: 35%; */
    color:white;
}

.searchBar
{
    display:flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-size: 40px;
    size: 45px;
    padding:10px;
    margin:10px;
}

.searchButton
{
    text-align: center;
    font-size:40px;
    size:45px;


}

.trackLI
{
    margin-bottom: 10px;
    color: white;

}

.trackLI p
{
    padding: 0 20px 0 10px;
    color: #b1b1b1;
}

.trackNumber 
{
    float: left;
}

.featureValue 
{
    float: right;
}

.trackBox 
{
    display: flex;
    justify-content: left;
    border-bottom: 1px solid black;
    padding: 20px;
    color: whitesmoke;
    align-items: baseline;
}
.trackBox h3 {
    margin-left: 10px;
    margin-right: 10px;
}
.trackBox h3:hover {
    cursor: pointer;
}

#featureSelect 
{
    float: right;
    margin: 5px 10px 0 0;
}
#featureSelectBox {
    margin: 5px;
}

#tracksId 
{
    list-style: none;
    background-color: #242937
}
#tracksEtc {
    position: relative;
}

#tracksBox 
{
    position: relative;
    display: flex;
    flex-direction: column;
}

#resultsUL 
{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content 
{
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  /* Add styles to the form container */
.container 
{
    display: grid;
    grid-auto-flow: row;
    max-width: 300px;
    padding: 16px;
    padding: 50px;
    margin: 100px;
}
  
  /* Full-width input fields */
input[type=text], input[type=password] 
{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
input[type=text]:focus, input[type=password]:focus 
{
    background-color: #ddd;
    outline: royalblue;
}
  
  /* Set a style for the submit button */
.btn 
{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.btn:hover 
{
    opacity: 1;
}

#signOutButton
{
    
  display: none;
}  
/* My shit here */
.featureValue {
    width: 5%;
    height: 10%;
}
#bigAlbumImage {
    position: absolute;
    z-index: 2;
    opacity: .2;
    width: 25em;
    height: auto;
    left: 45%;
    margin-left: -25%;
    top: 125px;
    margin-top: -5%;

} 

.logoutButton {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    margin:10px;
   
}

body{
    background-color: black;
}

h3 {
    color:white;
    font-size: 15px;
}
.featureValue {
    margin-left: auto;
    margin-right: 10px;
}
.imgFeatureValue {
    width: 40px;
    height: 50px;
    margin-left: auto;
    margin-top: auto;
    margin-right: 10px;

}