.searchBarContainer {
    display: flex;
    flex-direction: column;
    background-color:lightblue;
  }
  
  .searchBarContainer > div {
    background-color: bisque;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    
  }

  .title {
      display:flex;
      flex-direction: column;
     text-align:center; 
     font-size: 35px;
     font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
     font-size: 55px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 700; 
     line-height: 26.4px;
     padding:20px;
     margin:20px;
  }

  .searchBar {
      
      text-align: center;
      font-size: 40px;
      size: 45px;
      padding:10px;
      margin:10px;
  }

  .searchButton {
      text-align: center;
      font-size:40px;
      size:45px;
      padding:10px;
      margin:10px;
  }
  img {
      padding:10px;
      margin:10px;
      width:150px;
      height:150px;
  }