* 
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
}

img 
{
    padding:10px;
    margin:10px;
    width:150px;
    height:150px;
}

.elementBox 
{
    background-color: #f1bc7f;
}

.searchBarContainer 
{
    display: flex;
    flex-direction: column;
    background-color:lightblue;
}

.searchBarContainer > div 
{
    background-color: bisque;
    margin: 10px;
    text-align: center;
    line-height: 75px;

}

.title 
{
    display:flex;
    flex-direction: column;
    text-align:center;
    font-size: 35px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding:20px;
    margin:20px;
}
  
.searchBar 
{
    text-align: center;
    font-size: 40px;
    size: 45px;
    padding:10px;
    margin:10px;
}

.searchButton 
{
    text-align: center;
    font-size:40px;
    size:45px;
    padding:10px;
    margin:10px;
}
  

#resultsUL 
{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#userbar 
{
    display: flex;
    margin: 0px 20px 20px 20px;
}

.random {

}
.trackLI {
    margin-bottom: 10px;
}
.trackLI p {
    padding: 0 20px 0 10px;
}
#tracksBox {
    display: flex;
    flex-direction: column;
}
.trackNumber {
    float: left;
}
#featureSelect {
    float: right;
    margin: 5px 10px 0 0;
}
.featureValue {
    float: right;
}
#tracksId {
    list-style: none;
}
.trackBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}